/* CSS Entry Point */
.game {
	background: black;
	// margin: auto;
	border: 1px solid black;
	position: relative;
}

.ball {
	background: white;
	position: absolute;
	// transition: all .1s;
	// border-radius: 30px;
}
.leftPaddle {
	background: white;
	position: absolute;
}
.rightPaddle {
	background: white;
	position: absolute;
};
.leftScore {
	color: white;
	position: absolute;
	font-size: 40px;
}
.rightScore {
	color: white;
	position: absolute;
	font-size: 40px;
}
.end {
	height: 502px;
	width: 1002px;
	background: red;
}
.controls {
	width: 1000px;
	display: flex;
	justify-content: space-around;
	color: black;
	font-size: 16px;
}
.win-condish {
margin-left: 400px;
}
